body {
    background: #1a293e;
    overflow-y: hidden;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#oval {
    width: 100%;
}

#oval .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    margin-top: 40px;
    text-align: center;
}

p {
    z-index: 999;
    user-select: none;
    text-align: center;
    font-size: 36px;
    margin: 0;
    padding: 0;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
}

#load-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    margin: 120px auto 0;
}

#loader {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #4db8ff;
    border-bottom-color: #b3e0ff;
    border-right-color: #66c2ff;
    border-left-color: #80ccff;
    box-shadow: 0 0 15px #2187e7;
    -webkit-animation: spin 30s linear infinite;
    animation: spin 30s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-color: #1d5ca9;
    border-style: dotted;
    -webkit-animation: spin 18s linear infinite;
    animation: spin 18s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-color: #429bc0;
    border-width: 5px;
    border-style: dotted solid;
    -webkit-animation: spin 60s linear infinite;
    animation: spin 60s linear infinite;
}

#loader1::before {
    content: "";
    position: absolute;
    top: 70px;
    left: 70px;
    right: 70px;
    bottom: 70px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-color: #4398ba;
    border-style: dotted;
    -webkit-animation: spin 18s linear infinite;
    animation: spin 18s linear infinite;
}

#loader1::after {
    content: "";
    position: absolute;
    top: 55px;
    left: 55px;
    right: 55px;
    bottom: 55px;
    border-radius: 50%;
    border-color: #59c1eb;
    border-width: 5px;
    border-style: double dashed solid dotted;
    box-shadow: 0 0 40px #2187e7;
    -webkit-animation: spin 60s linear infinite;
    animation: spin 60s linear infinite;
}

/* The spinning effect */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* The text shadow */
@-webkit-keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff, 0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff, 0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff;
    }
}

@keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff, 0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff, 0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff;
    }
}

/* ************* Styling the input box ******************* */

#textInput {
    background-color: #181818a8;
    border-color: blue;
    box-shadow: 0 0 20px #5500ff;
    inset: 0 0 0px rgb(25, 0, 255);
    color: white;
    padding: 3px 0px 3px 20px;
    margin: 0px 20%;
}

@media (max-width: 1200px) {
    #textInput {
        margin: 0px;
    }
}

.input-field {
    border-color: transparent;
    border: none;
    width: 95vh;
    outline: none;
    color: white;
    font-family: cursive;
}

.glow-on-hover {
    width: 35px;
    height: 35px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    padding: 0px;
    margin-left: 10px;
}

.glow-on-hover::before {
    content: "";
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #d3087e);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #181818a8;
}

.glow-on-hover:active::after {
    background: transparent;
}

.glow-on-hover:hover::before {
    opacity: 1;
}

.glow-on-hover::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

/* ************* Styling the input box CLOSE******************* */
